@import url("pygment.css");
@import url(//fonts.googleapis.com/css?family=Overlock:400,700,900);
@import url(//fonts.googleapis.com/css?family=PT+Mono);
/*
 *  Name: Fresh
 *  Date: February 2013
 *  Description: A Pelican theme with clean layout. Based on Smashing HTML5 and Twitter Bootstrap.
 *  Version: 1.0.0
 *  Author: Jui-Shan Liang
 *  Author URI: http://jsliang.com
 */
body {
  color: #333;
  font-size: 15px;
  font-family: "Lucida Sans", sans-serif;
  line-height: 22.5px;
  margin: 0;
  padding: 0;
  text-align: left; }

a {
  color: #226ae9; }
  a:hover {
    color: #08c; }

h1 {
  font-family: "Microsoft YaHei", Overlock, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px; }

h2 {
  font-family: "Microsoft YaHei", Overlock, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #113D8B;
  line-height: 48px; }

h3 {
  font-family: "Microsoft YaHei", Overlock, sans-serif;
  font-weight: bold;
  font-size: 21.6px;
  color: #000;
  line-height: 43.2px; }

h4 {
  font-family: "Microsoft YaHei", Overlock, sans-serif;
  font-weight: bold;
  font-size: 19.44px;
  color: #000;
  line-height: 38.88px; }

h5 {
  font-family: "Microsoft YaHei", Overlock, sans-serif;
  font-weight: bold;
  font-size: 17.496px;
  color: #666;
  line-height: 34.992px; }

h6 {
  font-family: "Microsoft YaHei", Overlock, sans-serif;
  font-weight: bold;
  font-size: 15.7464px;
  color: #777;
  line-height: 31.4928px; }

hr {
  border: 2px solid #eeeeee; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

ul {
  list-style: outside disc;
  margin: 1em 0 1.5em 1.5em; }

ol {
  list-style: outside decimal;
  margin: 1em 0 1.5em 1.5em; }

.post-info {
  font-size: 0.8em;
  text-align: right;
  margin-bottom: 1em; }
  .post-info address {
    font-style: normal;
    display: inline; }

.readmore {
  margin-top: 1em;
  font-weight: bold; }

.archive_row {
  font-family: "Microsoft YaHei", Overlock, sans-serif; }
  .archive_row .archive_year {
    color: #113D8B;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    text-align: center; }
  .archive_row .archive_month {
    color: #000;
    font-size: 21.6px;
    font-weight: bold;
    margin-top: 21.6px;
    text-align: center; }
  .archive_row .archive_day {
    text-align: center; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  margin: 10px;
  overflow: auto; }

code, pre {
  font-family: 'PT Mono', sans-serif; }

blockquote {
  margin: 20px;
  font-style: normal;
  border: 0; }
  blockquote p {
    font-size: 15px;
    margin-bottom: 1em;
    font-weight: normal; }

header, section, footer, aside, nav, article, figure {
  display: block; }

section {
  padding: 1em; }

img.right, figure.right {
  float: right;
  margin: 0 0 2em 2em; }

img.left, figure.left {
  float: left;
  margin: 0 2em 2em 0; }

#banner {
  margin: 0 auto;
  padding: 2.5em 0 0 0; }
  #banner h1 {
    font-size: 4em;
    font-family: 'Overlock';
    line-height: 1;
    text-align: center; }
    #banner h1 a:link, #banner h1 a:visited {
      color: #000305;
      display: block;
      font-weight: bold;
      margin: 0 0 0.6em 0.2em;
      text-decoration: none; }
    #banner h1 a:hover, #banner h1 a:active {
      color: #113D8B;
      text-shadow: 1px 1px #fff; }
  #banner .nav > li > a {
    font-family: Overlock, sans-serif;
    font-weight: bold; }
    #banner .nav > li > a:hover {
      text-shadow: 1px 1px #bbb; }

#google-custom-search {
  width: 300px;
  float: right;
  margin-top: 5px; }
  #google-custom-search .gsc-control-cse {
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important; }   
    
#custom-search {
  width: 300px;
  float: right;
  margin-top: 5px; }
  #custom-search .bcs-container-searchbox {
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important; }

#sidebar {
  padding: 0.5em; }

#site-footer {
  text-align: right;
  font-size: 0.8em;
  padding: 1em; }
  #site-footer address {
    display: inline; }

.hentry {
  display: block;
  clear: both;
  border-bottom: 1px solid #eeeeee;
  padding: 1.5em 0; }

li:last-child .hentry {
  border: 0;
  margin: 0; }

#content > .hentry {
  border: 0;
  margin: 0;
  padding: 1em 0; }

.hentry img {
  display: none; }

.entry-title {
  margin-bottom: 10px;
  margin-top: 0; }
  .entry-title a:link, .entry-title a:visited {
    text-decoration: none;
    color: #333; }
  .entry-title a:hover {
    color: #113D8B; }

.sharethis, .sharethis-top, .sharethis-bottom {
  margin-top: 1em;
  margin-bottom: 1em; }

.sharethis-top {
  text-align: right; }

.sharethis-bottom {
  text-align: left; }

#posts-list {
  list-style: none;
  margin: 0;
  padding: 1em; }

.paginator {
  padding-left: 1em; }

#comments-list {
  list-style: none;
  margin: 0 1em; }
  #comments-list blockquote {
    background: #f8f8f8;
    clear: both;
    font-style: normal;
    margin: 0;
    padding: 15px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  #comments-list footer {
    color: #888;
    padding: 0.5em 1em 0 0;
    text-align: right; }
  #comments-list li:nth-child(2n) blockquote {
    background: #F5f5f5; }

#add-comment label {
  clear: left;
  float: left;
  text-align: left; }
#add-comment input[type='text'], #add-comment input[type='email'], #add-comment input[type='url'] {
  float: left; }
#add-comment textarea {
  float: left;
  height: 150px; }
#add-comment p.req {
  clear: both;
  margin: 0 0.5em 1em 0;
  text-align: right; }
#add-comment input[type='submit'] {
  float: right;
  margin: 0 0.5em; }
#add-comment * {
  margin-bottom: .5em; }

.err {
  border: 0; }

#cloud {
  padding: 2px;
  line-height: 2em;
  text-align: center;
  margin: 0; }

#cloud a {
  padding: 0px; }

#cloud li {
  display: inline; }

li.tag-4 {
  font-size: 0.8em;
  font-weight: 100; }

li.tag-3 {
  font-size: 1.0em;
  font-weight: 200; }

li.tag-2 {
  font-size: 1.2em;
  font-weight: 300; }

li.tag-1 {
  font-size: 1.4em;
  font-weight: 400; }
  
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #ccc;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ccc;
}

.table tbody + tbody {
  border-top: 2px solid #ccc;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #ccc;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ccc;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #f4c1bc;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #eb8d82;
}

.table-hover .table-primary:hover {
  background-color: #f0ada6;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #f0ada6;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: white;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: white;
}

.table-hover .table-secondary:hover {
  background-color: #f2f2f2;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #f2f2f2;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #cbe1ba;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #9fc77f;
}

.table-hover .table-success:hover {
  background-color: #bed9a8;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #bed9a8;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #b8e3f2;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #7bcae6;
}

.table-hover .table-info:hover {
  background-color: #a2dbee;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #a2dbee;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #e3cbe4;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #cb9fcd;
}

.table-hover .table-warning:hover {
  background-color: #dabadb;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #dabadb;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f4dcc0;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #ebbf8b;
}

.table-hover .table-danger:hover {
  background-color: #f0d0aa;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f0d0aa;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: white;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: white;
}

.table-hover .table-light:hover {
  background-color: #f2f2f2;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #f2f2f2;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c7c8c8;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #97999a;
}

.table-hover .table-dark:hover {
  background-color: #babbbb;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #babbbb;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #373a3c;
  border-color: #494d50;
}

.table .thead-light th {
  color: #444;
  background-color: #ddd;
  border-color: #ccc;
}

.table-dark {
  color: #fff;
  background-color: #373a3c;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #494d50;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}